.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-opacity: .7;
    fill-opacity: .7;
  }
  
/* .chart{
    font: 10px sans-serif;
} */

/* .chart text{
    font: 10px;

} */