.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-opacity: .7;
    fill-opacity: .7;
  }

.dot:hover{
    fill-opacity: 1;
    stroke-opacity: 1;
}

.clicked{
    fill-opacity: 1;
    stroke-opacity: 1;
}

#nav {
    overflow: auto;
    margin-bottom:10px;
}

.legend{
    stroke: #000;
    stroke-opacity: .7;
    fill-opacity: .7;
}

.legend text{
    stroke-opacity: 0;
    fill-opacity: 1;
}

/* .chart{
    font: 10px sans-serif;
} */

/* .chart text{
    font: 10px;

} */